/* * {
  border: green dotted 2px;
} */

.topBarContainer {
  height: 65px;
  width: 100%;
  margin: 0 auto;
  background: white;
  border-bottom: 1px solid rgba(50,50,50,.1);
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 100;
}

.logoContainer {
  display: flex;
  height: 65px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(50,50,50,.1);
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.centeredBarContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 820px;
  height: 65px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 105px;
}

.socialMediaLogos {
  display: flex;
  /* display: inline-block; */
  align-items: center;
  justify-content: space-between;
}

.navigationMenu {
  /* float: left; */
}

i, p {
  color: lightgrey;
  margin-right: 15px;
  align-items: center;
  /* height: 40px;
  width: auto; */
}

.fa-search {
  color: black;
}
