img {
  width: 945px;
}

.articlePicture {
  display: relative;
}

.largeArticleInfo {
  top: 20px;
  position: absolute;
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: blue;
  line-height: 1.5;
  padding: .5em 2em;
}


.largeArticleTitle {

}
