<form>
  <label><input type="checkbox" name="sponsored" value="1">sponsored?</label><br>

  <input type="text" name="articleTitle" placeholder="Title"><br>

  <input type="text" name="author" placeholder="Author"><br>

  <textarea type="text" name="articleDescription" placeholder="Description"></textarea><br>

  <textarea type="text" name="articleBody" placeholder="Article Body"></textarea><br>

  <input type="file" name="Picture"><br>

  <h4>Subjects:</h4>
  <input type="checkbox" name="News" value="News">News<br>

  <input type="checkbox" name="Entertainment" value="Entertainment"> Entertainment<br>

  <input type="checkbox" name="Beauty" value="Beauty"> Beauty<br>

  <input type="checkbox" name="Fashion" value="Fashion"> Fashion<br>

  <input type="checkbox" name="Lifestyle" value="Lifestyle">Lifestyle<br>

  <input type="checkbox" name="Books" value="Books"> Books<br>

  <input type="checkbox" name="Tech" value="Tech"> Tech<br>

  <input type="checkbox" name="Food" value="Food"> Food<br>

  <input type="checkbox" name="Features" value="Features"> Features<br>

  <input type="checkbox" name="Video" value="Video"> Video<br>

  <button type="submit">"Submit Article"</button>
</form>
