
  <h4>Edit Article:</h4>
  <label>sponsored?</label>
  <input [(ngModel)]="selectedArticle.sponsored"  type="checkbox" name="sponsored" value="1"><br>
<label>Title</label>
  <input [(ngModel)]="selectedArticle.title" type="text" name="title" ><br>
<label>Author</label>
  <input [(ngModel)]="selectedArticle.author" name="author"><br>
<label>Description</label>
  <textarea [(ngModel)]="selectedArticle.description"></textarea><br>
<label>Body</label>
  <textarea [(ngModel)]="selectedArticle.body" type="text" name="articleBody"></textarea><br>
<label>Picture</label>
  <input [(ngModel)]="selectedArticle.picture" type="text" name="Picture"><br>

  <h4>Subjects:</h4>
  <input [(ngModel)]="selectedArticle.subject" type="checkbox" name="News" value="News">News<br>

  <input [(ngModel)]="selectedArticle.subject" type="checkbox" name="Entertainment" value="Entertainment"> Entertainment<br>

  <input [(ngModel)]="selectedArticle.subject" type="checkbox" name="Beauty" value="Beauty"> Beauty<br>

  <input [(ngModel)]="selectedArticle.subject" type="checkbox" name="Fashion" value="Fashion"> Fashion<br>

  <input [(ngModel)]="selectedArticle.subject" type="checkbox" name="Lifestyle" value="Lifestyle">Lifestyle<br>

  <input [(ngModel)]="selectedArticle.subject" type="checkbox" name="Books" value="Books"> Books<br>

  <input [(ngModel)]="selectedArticle.subject" type="checkbox" name="Tech" value="Tech"> Tech<br>

  <input [(ngModel)]="selectedArticle.subject" type="checkbox" name="Food" value="Food"> Food<br>

  <input [(ngModel)]="selectedArticle.subject" type="checkbox" name="Features" value="Features"> Features<br>

  <input [(ngModel)]="selectedArticle.subject" type="checkbox" name="Video" value="Video"> Video<br>

  <button (click)="beginUpdatingArticle(selectedArticle)">"Submit Edits"</button>
  <button (click)="beginDeletingArticle(selectedArticle)" type="button" name="button">Delete Article</button>
