<button routerLink='admin' type="button" name="button">Admin</button>
<div *ngFor='let article of articles | async'>
  <h3 (click)='gotoDetailPage(article)'>{{article.title}} {{article.author}}</h3>
  <div *ngIf="currentRoute === '/admin'">
    <button type="button" name="button">Edit</button>
    <app-edit-article [selectedArticle]="article"></app-edit-article>
    <app-add-article></app-add-article>
  </div>
</div>

<!-- <h2>Large Article Attempt: </h2>

<app-large-article [childArticleList]="masterArticleList" (clickSender)="editArticle($event)"></app-large-article>

<h2>Add Form Attempt</h2>

<app-add-article (sendNewArticle)="addNewArticle($event)"></app-add-article>
<h2>Edit Form Attempt </h2>

<app-edit-article [childSelectedArticle]="selectedArticle" (clickedDone)="finishedEditing()" ></app-edit-article> -->
