<div *ngFor='let article of articles' (click)='gotoDetailPage(article)'>
  <h3>{{article.title}} {{article.author}}</h3>
</div>

<!-- <h2>Large Article Attempt: </h2>

<app-large-article [childArticleList]="masterArticleList" (clickSender)="editArticle($event)"></app-large-article>

<h2>Add Form Attempt</h2>

<app-add-article (sendNewArticle)="addNewArticle($event)"></app-add-article>
<h2>Edit Form Attempt </h2>

<app-edit-article [childSelectedArticle]="selectedArticle" (clickedDone)="finishedEditing()" ></app-edit-article> -->
