<button routerLink='admin' type="button" name="button">Admin</button>
<!-- <div *ngFor='let article of articles | async'>
  <h3 (click)='gotoDetailPage(article)'>{{article.title}} {{article.author}}</h3>
  <div *ngIf="currentRoute === '/admin'">
    <button type="button" name="button">Edit</button>
    <app-edit-article [selectedArticle]="article"></app-edit-article>
    <app-add-article></app-add-article>
  </div>
</div> -->

<h2>Large Article Attempt: </h2>

<app-large-article></app-large-article>


<!-- <app-edit-article [childSelectedArticle]="selectedArticle" (clickedDone)="finishedEditing()" ></app-edit-article> -->
