* {
  /* border: green 2px dotted; */
}

img {
  width: 280px;
}

.article{
 margin-top: 40px;
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.smallArticleInfo {
  bottom: 30px;
  position: relative;
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  background-color: white;
  line-height: 1.5;
  padding: .7em .7em;
  box-shadow: 5px 5px 18px lightgrey;
}

h2 {
  font-size: 1.05rem;
}

h5 {
  font-size: .75rem;
}
